{% extends 'app/base.html' %}

{% block contenido %}
<br>
      <h1 style="color: aliceblue;">Principales Items</h1>
      <br>
      <hr class="rounded mb-4">
      <!--inicio cards-->
      <div class="containers">
        <div class="card__container">
          <article class="card__article">
            <img src="imgs/calzadoCat.jpg" alt="image" class="card__img">

            <div class="card__data">
              <h2 class="card__title">Calzado</h2>
              <span class="card__description">Los calzados que mas te gustan en un solo lugar.</span>
              <a href="calzado.html" class="card__button">Calzado</a>
            </div>
          </article>
          <article class="card__article">
            <img src="imgs/raquetCat.jpg" alt="image" class="card__img">

            <div class="card__data">
              <h2 class="card__title">Accesorios</h2>
              <span class="card__description">Los mejores accesorios para tus deportes favoritos.</span>
              <a href="accesorios.html" class="card__button">Accesorios</a>
            </div>
          </article>
          <article class="card__article">
            <img src="imgs/ropaCat.jpg" alt="image" class="card__img">

            <div class="card__data">
              <h2 class="card__title">Ropa deportiva</h2>
              <span class="card__description">Encuentra una gran variedad de ropa deportiva.</span>
              <a href="ropaDeportiva.html" class="card__button">Ropa deportiva</a>
            </div>
          </article>
        </div>
      </div>


      <a name="principal"></a>
      <hr class="rounded mb-4">
      <div class="seccionPrincipal">
        <br>
        <h1 style="color: aliceblue;">Novedades</h1>
        <br>
        <hr class="rounded mb-4">
        <hr class="rounded mb-4">
        
        <div class="container">
          <div class="row gy-4">
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/jordanObsidian.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Jordan 1 High obsidian</h5>
                  <p class="card-text">Zapatilla Nike</p>
                  <p class="card-text">$169.990</p>
                  <a href="calzado.html" class="btn btn-primary">Seccion calzado </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/images_puma.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title"> Scuderia Ferrari SDS</h5>
                  <p class="card-text">Pantalones para hombre</p>
                  <p class="card-text">$77.399</p>
                  <a href="ropaDeportiva.html" class="btn btn-primary">Seccion ropa </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/ropa deportiva/kobeJersey.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Polera Kobe Bryant</h5>
                  <p class="card-text">Polera de basketball</p>
                  <p class="card-text">$25.990</p>
                  <a href="ropaDeportiva.html" class="btn btn-primary">Seccion ropa </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/ropa deportiva/barcashirt.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Polera Barcelona 2024</h5>
                  <p class="card-text">Polera de Futbol</p>
                  <p class="card-text">$30.000</p>
                  <a href="ropaDeportiva.html" class="btn btn-primary">Seccion ropa </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/balones/balonChampions.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Polera Champion League 2023/2024</h5>
                  <p class="card-text">Balon de Futbol</p>
                  <p class="card-text">$28.990</p>
                  <a href="accesorios.html" class="btn btn-primary">Seccion Accesorios </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="zoom" src="imgs/calzados/uptempo.jpg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Nike Air More Uptempo</h5>
                  <p class="card-text">Zapatilla Nike</p>
                  <p class="card-text">$205.990</p>
                  <a href="calzado.html" class="btn btn-primary">Seccion Calzado </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}