.containerrr {
    display: flex;
}

#map {
    height: 50vh;
    width: 90hw; /* Usamos porcentaje para que el mapa ocupe la mitad del contenedor */
}

.text-containerrr {
    width: 50%; /* El otro 50% del contenedor */
    padding: 60px; /* Espaciado para mejor legibilidad */
}

body{
    background-color:#092233 ;
    color: aliceblue;
}
p{
    font-size: 1.2em ;
}
